<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="leftTriggerMode" value="0" />
		<add key="rightTriggerMode" value="0" />
		<add key="l_v_1" value="0" />
		<add key="r_v_1" value="0" />
		<add key="l_v_2" value="0" />
		<add key="r_v_2" value="0" />
		<add key="l_v_3" value="0" />
		<add key="r_v_3" value="0" />
		<add key="l_v_4" value="0" />
		<add key="r_v_4" value="0" />
		<add key="l_v_5" value="0" />
		<add key="r_v_5" value="0" />
		<add key="l_v_6" value="0" />
		<add key="r_v_6" value="0" />
		<add key="l_v_7" value="0" />
		<add key="r_v_7" value="0" />
		<add key="setMode" value="0" />
		<add key="pulseMode" value="0" />
		<add key="playerNumber" value="0" />
		<add key="brightness" value="0" />
		<add key="overallMotors" value="0" />
		<add key="red" value="0" />
		<add key="green" value="0" />
		<add key="blue" value="0" />
		

	</appSettings>
</configuration>